@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
  color: white;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-size: 1.4rem;
  font-family: Raleway, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;

  background-color: black;
  background-image: url('./images/bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  width: 100vw;
}

/* header */

.header {
  color: white;
  text-align: center;
  padding: 170px 30px 80px;
}

.header-title {
  font-size: 2.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}

.header-title::before,
.header-title::after {
  content: '';
  display: inline-block;
  width: 150px;
  height: 2px;
  margin: 0 30px;
  border-bottom: 2px solid white;
  background-color: white;
  vertical-align: middle;
}

.header-main {
  margin: 50px 0 40px;
  font-size: 7.6rem;
}

.header-description {
  margin-top: 50px;
  font-size: 1.6rem;
  color: #888;
}

.header-button-gray,
.header-button-showy {
  margin: 60px 10px 0 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 55px;
  border-radius: 4px;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.header-button-gray:hover,
.header-button-showy:hover {
  opacity: 0.9;
}

.header-button-gray {
  background-color: #aea58f;
}

.header-button-showy {
  background-color: #d09e2d;
}

/* section common */

section {
  display: grid;
  grid-template-rows: 220px 1fr;
  justify-items: center;
  align-items: end;
  padding-bottom: 115px;
}

section > h2 {
  font-size: 4rem;
  letter-spacing: 2px;
  border-bottom: 1px solid #999;
  line-height: 55px;
  margin-bottom: 70px;
}

section > h2::after {
  display: block;
  content: '';
  border-bottom: 1px solid #999;
  transform: translateY(6px);
}

/* about me */

.about-me {
  background-color: white;
}

.about-me-article {
  text-align: center;
  line-height: 2.5;
}

.about-me-article:nth-of-type(1) {
  margin-bottom: 30px;
}

/* works */

.works {
  background-color: #383634;
  color: white;
}

.works-article {
  position: relative;
  line-height: 0;
}

.works-container {
  display: grid;
  grid-template-columns: repeat(4, 25vw);
  grid-template-rows: 380px;
  text-align: center;
}

.works-article-container {
  position: absolute;
  width: 25vw;
  z-index: 1;
}

.works-article:nth-of-type(even) > .works-article-container {
  top: 190px;
}

.works-article-detail-container {
  height: 190px;
  overflow-y: auto;
}

.works-article > img {
  width: 25vw;
  height: 190px;
}

.works-article:nth-of-type(even) > img:nth-of-type(even),
.works-article:nth-of-type(odd) > img:nth-of-type(odd) {
  transform: scale(1, -1);
  opacity: 0.3;
}

.works-article-detail-description {
  margin-top: 30px;
  margin-bottom: 37px;
  font-size: 1.2rem;
  line-height: 2;
}

.works-article-detail-button {
  font-size: 1.2rem;
  padding: 10px 45px;
  border: 1px solid white;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.15);
}

/* my-skills */

.my-skills {
  background-color: white;
}

.my-skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 35px;
}

.my-skills-article {
  display: grid;
  grid-template-rows: 185px 55px 1fr;
  justify-items: center;
  width: 266px;
}

.my-skills-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 4px solid;
  width: 150px;
  height: 150px;
  font-size: 8rem;
  color: #efb534;
}

.my-skills-article-header {
  font-size: 1.8rem;
  font-weight: normal;
  text-align: center;
}

.my-skills-article-description {
  text-align: center;
  line-height: 2;
}

/* contact */

.contact {
  color: white;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-input:focus,
.contact-textarea:focus {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5) inset;
}

.contact-input:placeholder-shown,
.contact-textarea:placeholder-shown {
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;
}

.contact-input,
.contact-textarea {
  background-color: rgba(255, 255, 255, 0.07);
  padding: 15px;
  width: 545px;
  font-size: 1.5rem;
  color: white;
  border: 1px solid #7e7e7e;
  outline: none;
}

.contact-input {
  height: 55px;
}

.contact-textarea {
  margin-top: 10px;
  height: 170px;
}

.contact-button {
  cursor: pointer;
  margin-top: 40px;
  width: 220px;
  height: 55px;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.contact-button:hover {
  background-color: rgba(255, 255, 255, 0.07);
}

/* footer */

.footer {
  margin-top: 40px;
  padding: 10px 0;
  color: white;
  text-align: center;
}
