@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
  color: white;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-size: 1.4rem;
  font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;

  background-image: url('./images/bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  width: 100vw;
}

/* header */

.header {
  background-color: #191919;
  color: white;
  text-align: center;
  padding: 150px 0 95px 0;
}

.header-title {
  /* TODO: find good font */
  font-size: 2rem;
  letter-spacing: 2px;
}

.header-title::before,
.header-title::after {
  display: inline-block;
  content: '';
  width: 150px;
  border-bottom: 2px solid white;
  transform: translateY(-5px);
}

.header-title::before {
  margin-right: 30px;
}

.header-title::after {
  margin-left: 30px;
}

.header-main {
  /* TODO: find good font */
  margin-top: 69px;
  font-size: 7rem;
  font-weight: bold;
}

.header-description {
  /* TODO: find good font */
  margin-top: 63px;
  font-size: 1.6rem;
  color: gray;
}

.header-button-gray,
.header-button-orange {
  margin: 60px 10px 0 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 55px;
  border-radius: 6px;
  font-size: 1.2rem;
}

.header-button-gray {
  background-color: #aea58f;
}

.header-button-orange {
  background-color: #d09e2d;
}

/* section common */

section {
  display: grid;
  grid-template-rows: 220px 1fr;
  justify-items: center;
  align-items: end;
  padding-bottom: 115px;
}

section > h1 {
  /* TODO: find good font */
  font-size: 3.8rem;
  font-weight: bold;
  letter-spacing: 1px;
  border-bottom: 1px double #999;
  line-height: 55px;
  margin-bottom: 70px;
}

section > h1::after {
  display: block;
  content: '';
  border-bottom: 1px double #999;
  transform: translateY(6px);
}

/* about me */

.about-me {
  background-color: white;
}

.about-me-article {
  text-align: center;
  line-height: 32px;
}

/* works */

.works {
  background-color: #383634;
  color: white;
}

.works-article {
  position: relative;
  line-height: 0;
}

.works-container {
  display: grid;
  grid-template-columns: repeat(4, 25vw);
  grid-template-rows: 380px;
  text-align: center;
}

.works-article-container {
  position: absolute;
  width: 25vw;
  z-index: 1;
}

.works-article:nth-of-type(even) > .works-article-container {
  top: 190px;
}

.works-article-detail-container {
  height: 190px;
}

.works-article > img {
  width: 25vw;
  height: 190px;
}

.works-article:nth-of-type(even) > img:nth-of-type(even),
.works-article:nth-of-type(odd) > img:nth-of-type(odd) {
  transform: scale(1, -1);
  opacity: 0.3;
}

.works-article-detail-description {
  margin-top: 30px;
  margin-bottom: 37px;
  font-size: 1.2rem;
  line-height: 26px;
}

.works-article-detail-button {
  font-size: 1.2rem;
  padding: 10px 45px;
  border: 1px solid white;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}

/* my-skills */

.my-skills {
  background-color: white;
}

.my-skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 35px;
}

.my-skills-article {
  display: grid;
  grid-template-rows: 185px 55px 1fr;
  justify-items: center;
  width: 266px;
}

.my-skills-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 5px solid #efb534;
  width: 150px;
  height: 150px;
  margin: 0;
  font-size: 7rem;
  color: #efb534;
}

.my-skills-article-header {
  font-size: 1.8rem;
  font-weight: normal;
  text-align: center;
}

.my-skills-article-description {
  text-align: center;
  line-height: 2;
}

/* contact */

.contact {
  color: white;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-input:focus,
.contact-textarea:focus {
  box-shadow: 0 0 6px 1px rgba(255, 255, 255, 0.4) inset;
}

.contact-input {
  outline: none;
  padding: 0 15px;
  width: 545px;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.07);
  font-size: 1.5rem;
  color: white;
  border: 1px solid #7e7e7e;
}

.contact-textarea {
  outline: none;
  padding: 15px 15px;
  margin-top: 10px;
  width: 545px;
  height: 170px;
  background-color: rgba(255, 255, 255, 0.07);
  font-size: 1.5rem;
  color: white;
  border: 1px solid #7e7e7e;
}

.contact-button {
  cursor: pointer;
  margin-top: 50px;
  width: 220px;
  height: 55px;
  font-size: 1.5rem;
  color: #aea58f;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  border: 1px solid #7e7e7e;
}

.contact-button:hover {
  background-color: rgba(255, 255, 255, 0.07);
}

/* footer */

.footer {
  padding: 10px 0;
  color: white;
  text-align: center;
}
