@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, input, label {
  font-family: "Hiragino Kaku Gothic ProN";
}

.container {
  padding: 30px;
}

.forms-container {
  padding: 30px 0;
}

/* アイコン付きのテキスト入力 */

.icon-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.icon-input-input {
  -webkit-appearance: none;
  outline: none;
  border: 0;

  padding: 0 15px 0 42px;
  width: 300px;
  height: 44px;
  border: 1px solid lightgray;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.icon-input-label {
  position: absolute;
  margin-left: 14px;
  color: lightgray;
  transition: all 0.2s ease;
}

.icon-input-input:focus {
  border: 1px solid tomato;
}


/* ラジオボタン */

.radio-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.radio-button {
  display: none;
}

.radio-label {
  position: relative;
  display: flex;
  margin-right: 10px;
  color: #3d4858;
}

.radio-label::before,
.radio-button:checked + .radio-label::after {
  display: block;
  border-radius: 50%;
  content: ' ';
  margin-right: 10px;
}

.radio-label::before {
  width: 16px;
  height: 16px;
  border: solid 1px #3d4858;
}

.radio-button:checked + .radio-label::after {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: tomato;
}


/* スイッチ */

.switch-container {
  display: flex;
  margin-top: 30px;
  color: #3d4858;
}

.switch-input {
  display: none;
}

.switch-label {
  padding: 5px 15px;
  border: 1px solid tomato;
}

.switch-input:checked + .switch-label {
  background-color: tomato;
  color: white;
}

/* チェックボックス */

.checkbox-container {
  display: flex;

  margin-top: 30px;
  color: #3d4858;
}

.checkbox-input {
  display: none;
}

.checkbox-label {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 13px;
}

.checkbox-input:checked + .checkbox-label::after,
.checkbox-label::before {
  display: block;
  content: ' ';
  margin-right: 10px;
}

.checkbox-input:checked + .checkbox-label::after {
  position: absolute;
  background-color: tomato;
  top: 4px;
  left: 3px;
  width: 8px;
  height: 8px;
}

.checkbox-label::before {
  border: 1px solid #3d4858;
  width: 14px;
  height: 14px;
}

/* チェックボタン */

.checkbutton-container {
  display: flex;
  margin-top: 30px;
  color: #3d4858;
}

.checkbutton-input {
  display: none;
}

.checkbutton-label {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #3d4858;
  padding: 5px;
  margin-right: 5px;
}

.checkbutton-input:checked + .checkbutton-label {
  background-color: tomato;
  border: 1px solid tomato;
  color: white;
}

.checkbutton-label::before,
.checkbutton-input:checked + .checkbutton-label::after {
  display: block;
  content: ' ';
  margin-right: 8px;
}

.checkbutton-label::before {
  border: 1px solid #3d4858;
  width: 14px;
  height: 14px;
}

.checkbutton-input:checked + .checkbutton-label::before {
  visibility: hidden;
}

.checkbutton-input:checked + .checkbutton-label::after {
  position: absolute;
  width: 12px;
  height: 8px;
  top: 7px;
  left: 6px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(-45deg);
}
