@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, input, label {
  font-family: "Hiragino Kaku Gothic ProN";
}

.container {
  padding: 30px;
}

.forms-container {
  padding: 30px 0;
}

/* アイコン付きのテキスト入力 */

.icon-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.icon-input-input {
  -webkit-appearance: none;
  outline: none;
  border: 0;

  padding: 0 15px 0 42px;
  width: 300px;
  height: 44px;
  border: 1px solid lightgray;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.icon-input-label {
  position: absolute;
  margin-left: 14px;
  color: lightgray;
  transition: all 0.2s ease;
}

.icon-input-input:focus {
  border: 1px solid tomato;
}


/* ラジオボタン */

.radio-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.radio-button {
  visibility: hidden;
  width: 0;
  height: 0;
}

.radio-label {
  position: relative;
  display: flex;
  margin-right: 10px;
  color: #3d4858;
}

.radio-label::before,
.radio-button:checked + .radio-label::after {
  display: block;
  border-radius: 50%;
  content: ' ';
  margin-right: 10px;
}

.radio-label::before {
  width: 16px;
  height: 16px;
  border: solid 1px #3d4858;
}

.radio-button:checked + .radio-label::after {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: tomato;
}
